.App {
    text-align: center;
}

.App-logo {
    margin-top: 10vmin;
    animation: App-logo-spin infinite 10s linear;
    height: 30vmin;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App-header {
    background-color: #e3ffb8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color : darkgreen;
}

.App-link {
    color : #a87a0f;
}